<manifest package="com.dayton.drone"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>


    <application
        android:name=".application.ApplicationModel"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:theme">

        <activity
            android:name=".activity.base.tutorial.SplashActivtiy"
            android:configChanges="screenLayout|orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.base.tutorial.TutorialActivtiy"
            android:configChanges="screenLayout|orientation"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".activity.base.tutorial.LoginActivtiy"
            android:configChanges="screenLayout|orientation|keyboardHidden"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".activity.base.tutorial.RegisteActivity"
            android:configChanges="screenLayout|orientation"
            android:launchMode="singleTop"
            />
        <activity
            android:name=".activity.base.tutorial.UserInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
           />
        <activity
            android:name=".activity.base.tutorial.SelectDevice"
            android:configChanges="keyboardHidden|screenLayout|orientation"
            android:launchMode="singleTop"
            />
        <activity android:name=".activity.base.tutorial.ShowWatchActivity"
                  android:configChanges="keyboardHidden|screenLayout|orientation"
                  android:launchMode="singleTop"/>
        <activity android:name=".activity.MainActivity"
                  android:configChanges="keyboardHidden|screenLayout|orientation"
                  android:launchMode="singleTop"/>
        <activity android:name=".activity.HomeActivity"
                  android:configChanges="keyboardHidden|screenLayout|orientation"
                  android:launchMode="singleTop"/>

        <!-- register all services used in the application -->
        <service
            android:name="net.medcorp.library.ble.ble.MEDBTService"
            android:enabled="true" />
        <service
            android:name=".ble.controller.SyncControllerImpl$LocalService"
            android:enabled="true" />
        <service
            android:name=".ble.notification.DroneNotificationListenerService"
            android:enabled="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>
</manifest>
