Drone/.gradle/
Drone/.idea/
Drone/captures/com.dayton.drone_2016.04.20_11.05.gfxtrace
Drone/captures/com.dayton.drone_2016.04.20_11.02.alloc
Drone/captures/com.dayton.drone_2016.04.20_11.00.hprof
Drone/local.properties
Drone/build/generated/mockable-android-23.jar
Drone/wheelpicklib/pickerview.iml
Drone/app/app.iml
Drone/Drone.iml
.idea/
Drone/build/
Drone/progressbarlibrary/progressbarlibrary.iml
Drone/wheelPickLib/wheelpicklib.iml
ContactList/
IndexableListView-master/
Drone/build.gradle
SortListView/.gradle/2.10/taskArtifacts/cache.properties
SortListView/.gradle/2.10/taskArtifacts/fileHashes.bin
SortListView/.gradle/2.10/taskArtifacts/fileSnapshots.bin
SortListView/.gradle/2.10/taskArtifacts/outputFileStates.bin
SortListView/.gradle/2.10/taskArtifacts/taskArtifacts.bin
SortListView/SortListView.iml
SortListView/app/app.iml
SortListView/app/build.gradle
SortListView/app/build/generated/source/buildConfig/debug/com/example/sortlistview/BuildConfig.java
SortListView/app/build/intermediates/incremental/compileDebugAidl/dependency.store
SortListView/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
SortListView/app/build/intermediates/incremental/mergeDebugShaders/merger.xml
SortListView/app/build/intermediates/res/merged/debug/drawable-hdpi-v4/emotionstore_progresscancelbtn.png
SortListView/app/build/intermediates/res/merged/debug/drawable-hdpi-v4/ic_launcher.png
SortListView/app/build/intermediates/res/merged/debug/drawable-hdpi-v4/search_bar_icon_normal.png
SortListView/app/build/intermediates/res/merged/debug/drawable-hdpi-v4/show_head_toast_bg.9.png
SortListView/app/build/intermediates/res/merged/debug/drawable-ldpi-v4/ic_launcher.png
SortListView/app/build/intermediates/res/merged/debug/drawable-mdpi-v4/ic_launcher.png
SortListView/app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/ic_launcher.png
SortListView/app/build/intermediates/res/merged/debug/drawable/search_bar_edit_selector.xml
SortListView/app/build/intermediates/res/merged/debug/drawable/sidebar_background.xml
SortListView/app/build/intermediates/res/merged/debug/layout/activity_main.xml
SortListView/app/build/intermediates/res/merged/debug/layout/item.xml
SortListView/app/build/intermediates/res/merged/debug/menu/activity_main.xml
SortListView/app/build/intermediates/res/merged/debug/values-v11/values-v11.xml
SortListView/app/build/intermediates/res/merged/debug/values-v14/values-v14.xml
SortListView/app/build/intermediates/res/merged/debug/values/values.xml
SortListView/app/src/main/AndroidManifest.xml
SortListView/app/src/main/java/com/example/sortlistview/CharacterParser.java
SortListView/app/src/main/java/com/example/sortlistview/ClearEditText.java
SortListView/app/src/main/java/com/example/sortlistview/MainActivity.java
SortListView/app/src/main/java/com/example/sortlistview/PinyinComparator.java
SortListView/app/src/main/java/com/example/sortlistview/SideBar.java
SortListView/app/src/main/java/com/example/sortlistview/SortAdapter.java
SortListView/app/src/main/java/com/example/sortlistview/SortModel.java
SortListView/app/src/main/res/drawable-hdpi/emotionstore_progresscancelbtn.png
SortListView/app/src/main/res/drawable-hdpi/ic_launcher.png
SortListView/app/src/main/res/drawable-hdpi/search_bar_edit_normal.9.png
SortListView/app/src/main/res/drawable-hdpi/search_bar_edit_pressed.9.png
SortListView/app/src/main/res/drawable-hdpi/search_bar_icon_normal.png
SortListView/app/src/main/res/drawable-hdpi/show_head_toast_bg.9.png
SortListView/app/src/main/res/drawable-ldpi/ic_launcher.png
SortListView/app/src/main/res/drawable-mdpi/ic_launcher.png
SortListView/app/src/main/res/drawable-xhdpi/ic_launcher.png
SortListView/app/src/main/res/drawable/search_bar_edit_selector.xml
SortListView/app/src/main/res/drawable/sidebar_background.xml
SortListView/app/src/main/res/layout/activity_main.xml
SortListView/app/src/main/res/layout/item.xml
SortListView/app/src/main/res/menu/activity_main.xml
SortListView/app/src/main/res/values-v11/styles.xml
SortListView/app/src/main/res/values-v14/styles.xml
SortListView/app/src/main/res/values/arrays.xml
SortListView/app/src/main/res/values/strings.xml
SortListView/app/src/main/res/values/styles.xml
SortListView/build.gradle
SortListView/gradle/wrapper/gradle-wrapper.jar
SortListView/gradle/wrapper/gradle-wrapper.properties
SortListView/gradlew
SortListView/gradlew.bat
SortListView/import-summary.txt
SortListView/local.properties
SortListView/settings.gradle
