Drone/.gradle/
Drone/.idea/
Drone/captures/com.dayton.drone_2016.04.20_11.05.gfxtrace
Drone/captures/com.dayton.drone_2016.04.20_11.02.alloc
Drone/captures/com.dayton.drone_2016.04.20_11.00.hprof
Drone/local.properties
Drone/build/generated/mockable-android-23.jar
Drone/wheelpicklib/pickerview.iml
Drone/app/app.iml
Drone/Drone.iml
.idea/
Drone/build/
Drone/progressbarlibrary/progressbarlibrary.iml
Drone/wheelPickLib/wheelpicklib.iml
